/* OHS CSS, modified from OSHWA microsite common CSS */

@import "./bulma.min.css";
@import "../fonts/bluunext/bluunext.css";
@import "../fonts/office-code-pro/office-code-pro.css";
@import "../fonts/jacquard-24/jacquard-24.css";

:root {
    --ohs-family-display: "BluuNext", Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
    --ohs-family-text: "Office Code Pro", 'Nimbus Mono PS', 'Courier New', monospace;

    --ohs-color-primary: #615d59;
    --ohs-color-accent-pink: #F8DBFF;
    --ohs-color-accent-yellow: #ebe446;
}

.is-family-text {
    font-family: var(--ohs-family-text);
}

.is-family-display {
    font-family: var(--ohs-family-display);
    font-weight: bold;
}

/* Bulma customizations */
:root {
    --bulma-body-size: 18px;
    --bulma-family-primary: var(--ohs-family-text);
    --bulma-text: var(--ohs-color-primary);
    --bulma-text-strong: var(--ohs-color-primary);
}

.content h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ohs-family-display);
}

.navbar {
    font-family: var(--ohs-family-display);
    font-weight: bold;
}

.navbar-end {
    align-items: center;
}

.footer {
    --bulma-footer-background-color: transparent;
}

/* Navbar tweaks */

.navbar-brand .navbar-item img {
    --bulma-navbar-item-img-max-height: 12lh;
}

@media screen and (max-width: 1023px) {
    .navbar-brand .navbar-item img {
        --bulma-navbar-item-img-max-height: 6lh;
    }

    .navbar-menu {
        position: absolute;
        width: 100%;
        margin-block-start: 1rem;
        contain: paint;
        padding-block: 0;
        border: 0.1rem solid black;
        border-radius: var(--bulma-radius);
        display: block;
        opacity: 0;
        transform-origin: top center;
        transform: scaleY(0);
        transition-property: opacity, transform;
        transition-duration: 0.2s;
    }

    .navbar-menu.is-active {
        transform: scaleY(1);
        opacity: 1;
    }
}
