/* Common CSS for OSHWA microsites */

@import "./bulma.min.css";
@import "../fonts/roboto/roboto.css";
@import "../fonts/roboto-condensed/roboto-condensed.css";

:root {
    --oshwa-family-display: "Roboto Condensed", SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    --oshwa-family-text: "Roboto", SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial,
        sans-serif;
}

.is-family-text {
    font-family: var(--oshwa-family-text);
}

.is-family-display {
    font-family: var(--oshwa-family-display);
    font-weight: bold;
}

/* Bulma customizations */
:root {
    --bulma-body-size: 18px;
    --bulma-family-primary: var(--oshwa-family-text);
}

.content h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--oshwa-family-display);
}

.navbar {
    font-family: var(--oshwa-family-display);
    font-weight: bold;
}

.navbar-end {
    align-items: center;
}

.footer {
    --bulma-footer-background-color: transparent;
}

/* Navbar tweaks */

.navbar-brand .navbar-item img {
    --bulma-navbar-item-img-max-height: 12lh;
}

@media screen and (max-width: 1023px) {
    .navbar-brand .navbar-item img {
        --bulma-navbar-item-img-max-height: 6lh;
    }

    .navbar-menu {
        position: absolute;
        width: 100%;
        margin-block-start: 1rem;
        contain: paint;
        padding-block: 0;
        border: 0.1rem solid black;
        border-radius: var(--bulma-radius);
        display: block;
        opacity: 0;
        transform-origin: top center;
        transform: scaleY(0);
        transition-property: opacity, transform;
        transition-duration: 0.2s;
    }

    .navbar-menu.is-active {
        transform: scaleY(1);
        opacity: 1;
    }
}
